md-card {
  margin-bottom: 6px;
}

fieldset {
  margin-top: 20px;
}

fieldset p.caption {
  font-size: 0.9em;
  margin-top: 12px;
  margin-bottom: 18px;
  color: rgba(0,0,0,.54)
}


legend {
  font-weight: 600;
}