fieldset {
  margin-top: 20px;
}

fieldset p.caption {
  font-size: 0.8em;
  margin-top: 12px;
  margin-bottom: 18px;
  color: rgba(0,0,0,.54)
}


legend {
  font-weight: 600;
}

md-card-content {
  font-size: 16px;
}

//Workaround for https://github.com/angular/material2/issues/2465
md-select {
  margin-top: 1em;
  margin-bottom: 1em;
}

.mat-filepicker-toggle:not([disabled]) {
    cursor: pointer;
}

.mat-input-container .mat-filepicker-toggle {
    width: 1.0em;
    height: 1.0em;
    font-size: 100%;
    vertical-align: top;
}

.mat-filepicker-toggle {
    display: inline-block;
    background: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjMDAwMDAwIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4NCiAgICA8cGF0aCBkPSJNMiAxMi41QzIgOS40NiA0LjQ2IDcgNy41IDdIMThjMi4yMSAwIDQgMS43OSA0IDRzLTEuNzkgNC00IDRIOS41QzguMTIgMTUgNyAxMy44OCA3IDEyLjVTOC4xMiAxMCA5LjUgMTBIMTd2Mkg5LjQxYy0uNTUgMC0uNTUgMSAwIDFIMThjMS4xIDAgMi0uOSAyLTJzLS45LTItMi0ySDcuNUM1LjU3IDkgNCAxMC41NyA0IDEyLjVTNS41NyAxNiA3LjUgMTZIMTd2Mkg3LjVDNC40NiAxOCAyIDE1LjU0IDIgMTIuNXoiLz4NCiAgICA8cGF0aCBkPSJNMCAwaDI0djI0SDBWMHoiIGZpbGw9Im5vbmUiLz4NCjwvc3ZnPg==) no-repeat;
    background-size: contain;
    height: 24px;
    width: 24px;
    border: none;
    outline: 0;
    vertical-align: middle;
}